.topDiv{
    alignment: center;
    height: 150px;
    width: 100%;
    /*background-color: aqua;*/
    text-align: center;
    margin-top: 20px;
}
.topDiv{
    font-size: 70px;
    font-style: oblique;
    /*color: coral;*/
}